<div id="<%= dom_id geoname %>">
  <p>
    <strong>Geonameid:</strong>
    <%= geoname.geonameid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= geoname.name %>
  </p>

  <p>
    <strong>Asciiname:</strong>
    <%= geoname.asciiname %>
  </p>

  <p>
    <strong>Alternatenames:</strong>
    <%= geoname.alternatenames %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= geoname.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= geoname.longitude %>
  </p>

  <p>
    <strong>Feature class:</strong>
    <%= geoname.feature_class %>
  </p>

  <p>
    <strong>Feature code:</strong>
    <%= geoname.feature_code %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= geoname.country_code %>
  </p>

  <p>
    <strong>Cc2:</strong>
    <%= geoname.cc2 %>
  </p>

  <p>
    <strong>Admin1 code:</strong>
    <%= geoname.admin1_code %>
  </p>

  <p>
    <strong>Admin2 code:</strong>
    <%= geoname.admin2_code %>
  </p>

  <p>
    <strong>Admin3 code:</strong>
    <%= geoname.admin3_code %>
  </p>

  <p>
    <strong>Admin4 code:</strong>
    <%= geoname.admin4_code %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= geoname.population %>
  </p>

  <p>
    <strong>Elevation:</strong>
    <%= geoname.elevation %>
  </p>

  <p>
    <strong>Dem:</strong>
    <%= geoname.dem %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= geoname.timezone %>
  </p>

  <p>
    <strong>Modification date:</strong>
    <%= geoname.modification_date %>
  </p>

</div>
