%div.container-fluid
  %div.row
    %div#footer-title.col-xs-12.col-lg-12
      = link_to "https://gin.btaa.org" do
        = image_tag('gin-white.png', {alt: "Big Ten Academic Alliance Logo", height: '80px'})

    %div.col-xs-12.col-lg-6

      %h3.mt-3 About & Help
      %ul.list-unstyled
        %li
          = link_to "About Us", "https://gin.btaa.org/about/about-us/"
        %li
          = link_to "Program Updates", "https://gin.btaa.org/updates"
        %li
          = link_to "Contact Us", "https://geo.btaa.org/feedback"
        %li
          = link_to "Help Guides", "https://gin.btaa.org/guides/"
        %li 
          = link_to "Tutorials", "https://gin.btaa.org/tutorials"

      %h3.mt-3 Policies
      %ul.list-unstyled
        %li
          = link_to "Harmful Language Statement", "https://gin.btaa.org/policies/harmful-language"
        %li
          = link_to "Privacy Statement", "https://btaa.org/privacy"
        %li
          = link_to "Collection Development", "https://gin.btaa.org/policies/collection-development"

      %h3.mt-3 Sponsors
      %ul.list-unstyled
        %li
          = link_to "Big Ten Academic Alliance", "https://btaa.org/"
        %li
          = link_to "BTAA Geospatial Information Network", "https://gin.btaa.org/"
        %li
          = link_to "University of Minnesota Libraries", "https://lib.umn.edu/"
    
    %div.col-xs-12.col-lg-6
      %h3.mt-3 BTAA Member Libraries & Stories
      %ul.list-unstyled
        %li
          = link_to "Collection Stories", "https://geobtaa.blogspot.com/"
      
      %h4.mt-3 Explore Member Libraries
      %ul.list-unstyled{style: "column-count: 2;"}
        %li
          = link_to "University of Chicago", "https://www.lib.uchicago.edu/"
        %li
          = link_to "University of Illinois", "https://www.library.illinois.edu/"
        %li
          = link_to "Indiana University", "https://libraries.indiana.edu/"
        %li
          = link_to "University of Iowa", "https://www.lib.uiowa.edu/"
        %li
          = link_to "University of Maryland", "https://www.lib.umd.edu/"
        %li
          = link_to "University of Michigan", "https://www.lib.umich.edu/"
        %li
          = link_to "Michigan State University", "https://lib.msu.edu/"
        %li
          = link_to "University of Minnesota", "https://www.lib.umn.edu/"
        %li
          = link_to "University of Nebraska-Lincoln", "https://libraries.unl.edu/"
        %li
          = link_to "Northwestern University", "https://www.library.northwestern.edu/"
        %li
          = link_to "The Ohio State University", "https://library.osu.edu/"
        %li
          = link_to "Pennsylvania State University", "https://libraries.psu.edu/"
        %li
          = link_to "Purdue University", "https://www.lib.purdue.edu/"
        %li
          = link_to "Rutgers University", "https://www.libraries.rutgers.edu/"
        %li
          = link_to "University of Wisconsin-Madison", "https://www.library.wisc.edu/"

