<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="geoblacklight-version" content="<%= Geoblacklight::VERSION %>">
    <meta name="google-site-verification" content="8Kf1d0q7RuBx5mF-AOa51_PxpGwgoevaCWUml4pyfWE" />

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Favicons -->
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag "application", media: "all" %>

    <% if layout_type == "item" && @document && @document.viewer_protocol == 'iiif_manifest' %>
      <%= javascript_pack_tag 'm3' %>
    <% end %>

    <%= vite_client_tag %>
    <% if openlayers_container? %>
      <%= vite_javascript_tag 'ol' %>
    <% end %>

    <%= javascript_include_tag "application" %>

    <!-- GeoSearch -->
    <link  href="https://unpkg.com/leaflet-geosearch@3.6.1/assets/css/leaflet.css" rel="stylesheet" />
    <script src="https://unpkg.com/leaflet-geosearch@3.6.1/dist/bundle.min.js"></script>

    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <% if PointlessFeedback.using_captcha? %>
      <head>
        <script src='https://www.google.com/recaptcha/api.js'></script>
      </head>
    <% end %>

  </head>
  <body class="<%= render_body_class %>" style="overflow-x:hidden">
    <%= render partial: 'shared/header_navbar' %>

    <% if homepage? %>
      <%= render :partial=>'shared/flash_msg', layout: 'shared/flash_messages' %>
      <%= render 'home' %>
      <section id="footer-app" aria-label='Application Footer'>
        <%= render :partial => 'shared/footer_app' %>
      </section>
    <% else %>
      <main id="main-container" class="<%= container_classes %>">
        <%= content_for(:container_header) %>

        <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

        <div class="row">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </main>

      <% if @document.present? && @document.more_like_this_panel.present? %>
        <%= render partial: 'catalog/show_more_like_this' %>
      <% end %>

      <section id="footer-app" aria-label='Application Footer'>
        <%= render :partial => 'shared/footer_app' %>
      </section>
      <section id="banner" aria-label="Banner">
        <%= render :partial => 'shared/banner' %>
      </section>
    <% end %>

    <%= render partial: 'shared/modal' %>
    <%= render partial: 'shared/javascript_behaviors' %>
    
    <%- if Rails.env.production? %>
      <%= render partial: 'shared/matomo_analytics' %>
    <%- end %>
  </body>
</html>
