<div class="modal-header">
  <h1 class="modal-title"><%= t('blacklight.tools.citation') %></h1>

  <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <% @documents.each do |document| %>
    <% case document["gbl_resourceClass_sm"].present? && document["gbl_resourceClass_sm"].join(",").downcase %>
    <% when "collections" %>
      <p>
        <% if document["dct_title_s"].present? %>
          <i><%= document["dct_title_s"] %></i>.
        <% end %>

        <% if document["dct_publisher_sm"].present? %>
          <%= document["dct_publisher_sm"].join(', ') %>.
        <% end %>

        <% if document.references.url.present? %>
          <%= document.references.url.endpoint %>
        <% end %>
      </p>
    <% else %>
      <p>
        <% if document["dct_creator_sm"].present? %>
          <%= document["dct_creator_sm"].join(', ') %>.
        <% else %>
           [creator not found],
        <% end %>

        <% if document["dct_issued_s"].present? %>
          (<%= citation_dct_issued_s(document["dct_issued_s"]) %>).
        <% else %>
          (n.d.).
        <%- end %>

        <% if document["dct_title_s"].present? %>
          <i><%= document["dct_title_s"] %></i>.
        <% end %>

        <% if document["dct_publisher_sm"].present? %>
          <%= document["dct_publisher_sm"].join(', ') %>.
        <% end %>

        <% if document.references.url.present? %>
          <%= document.references.url.endpoint %>
        <% end %>
      </p>
    <% end %>

    <p>
      <strong>Available from:</strong>
      <%= url_for(:only_path => false).split("/citation")[0] %>
    </p>
  <% end %>
</div>
