<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>

  <h3 class="modal-title"><%= t('blacklight.tools.citation') %></h3>
</div>
<div class="modal-body">
  <% @documents.each do |document| %>
    <p>
      <% if document["dc_creator_sm"].present? %>
        <%= document["dc_creator_sm"].join(', ') %>.
      <% else %>
         [creator not found],
      <% end %>

      <% if document["dct_issued_s"].present? %>
        (<%= citation_dct_issued_s(document["dct_issued_s"]) %>).
      <% else %>
        <% # @TODO: guard against 9999s %>
        (<%= citation_solr_year_i(document["solr_year_i"]) %>).
      <%- end %>

      <% if document["dc_title_s"].present? %>
        <i><%= document["dc_title_s"] %></i>.
      <% end %>

      <% if document["dc_publisher_sm"].present? %>
        <%= document["dc_publisher_sm"].join(', ') %>.
      <% end %>

      <% if document.references.url.present? %>
        <%= document.references.url.endpoint %>
      <% end %>
    </p>

    <p>
      <strong>Available from:</strong>
      <%= url_for(:only_path => false).split("/citation")[0] %>
    </p>
  <% end %>
</div>
