<main class="homepage container-fluid">
  <div id="home-content" >
    <div class="row">

      <div class='col-sm-12 col-md-6'>
        <div class='row'>
          <div class='col-sm-12'>
            <h2 style="color:#FFF">Explore Maps and Data</h2>
          </div>
          <div class='col-sm-12'>
            <%= render_search_bar %>
          </div>
        </div>

        <hr/>
        <div class="row">
          <div class='col-sm-12'>

            <div class='row'>

              <div class='col col-sm col-md-4'>
                <h3 class="h6" style="color:#FFF">
                  <span class="icon baseline" style="color:#FFF;">
                    <%= blacklight_icon("vector") %>
                  </span>
                  Datasets
                </h3>
                <%= link_to "/?f%5Bgbl_resourceClass_sm%5D%5B%5D=Datasets" do %>
                  <%= image_tag('homepage/geospatial_data.png', {:class => "img-fluid img-thumbnail", :alt => "Geospatial Data"}) %>
                <% end %>
              </div>

              <div class='col col-sm col-md-4'>
                <h3 class="h6" style="color:#FFF">
                  <span class="icon baseline" style="color:#FFF;">
                    <%= blacklight_icon("map") %>
                  </span>
                  Maps
                </h3>
                <%= link_to "/?f%5Bgbl_resourceClass_sm%5D%5B%5D=Maps" do %>
                  <%= image_tag('homepage/maps.png', {:class => "img-fluid img-thumbnail", :alt => "Scanned Maps"}) %>
                <% end %>
              </div>

              <div class='col col-sm col-md-4'>
                <h3 class="h6" style="color:#FFF">
                  <span class="icon baseline" style="color:#FFF;">
                    <%= blacklight_icon("image") %>
                  </span>
                  Imagery
                </h3>
                <%= link_to "/?f%5Bgbl_resourceClass_sm%5D%5B%5D=Imagery" do %>
                  <%= image_tag('homepage/aerial_imagery.png', {:class => "img-fluid img-thumbnail", :alt => "Imagery"}) %>
                <% end %>
              </div>
            </div>

            <div class="row" style="margin-top:2rem;">
              <div class='col-xs-12 col-sm-6'>
                <%= render(Blacklight::FacetFieldListComponent.new(
                      facet_field: facet_field_presenter(facet_configuration_for_field(Settings.FIELDS.SPATIAL_COVERAGE), @response.aggregations[Settings.FIELDS.SPATIAL_COVERAGE]))) %>
              </div>
              <div class='col-xs-12 col-sm-6'>
                <%= render(Blacklight::FacetFieldListComponent.new(
                      facet_field: facet_field_presenter(facet_configuration_for_field(Settings.FIELDS.RESOURCE_TYPE), @response.aggregations[Settings.FIELDS.RESOURCE_TYPE]))) %>
              </div>
            </div>

            <div class='row'>
              <div class='col-sm-12 col-md-12'>
                <div id='geoportal-about' class="card">

                  <div class="card-header">
                    <span class="facet-field-heading">
                      <a href="/about">About the BTAA Geoportal</a>
                    </span>
                  </div>

                  <div class="card-body">
                    <p>
                      <%= link_to 'https://gin.btaa.org' do %>
                        <%= image_tag('gin-cropped.png', {alt: "Big Ten Academic Alliance Logo", height: '80px'}) %> 
                      <% end %>
                    </p>
                    <p>The Big Ten Academic Alliance Geoportal provides discoverability and facilitates access to geospatial resources. The resources in the portal are selected and curated by librarians and geospatial specialists at fifteen research institutions in the <a href="http://www.btaa.org">Big Ten Academic Alliance</a>.</p>
                    <p>The resources include GIS datasets, web services, and digitized historical maps. <a href="https://gin.btaa.org">Learn more</a> about the research institutions involved and the sources of the geospatial records.</p>
                    <p class="project-action">
                      <a class="btn btn-primary btn-sm" href="https://geobtaa.blogspot.com"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Follow Our Blog</a> &nbsp; Keep up to date with all the latest news.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="wrapper-map" class="d-none d-md-block col-md-6" role="application">
        <div id='map-container' class="d-md-block col-md-6">
          <div id='map' role='presentation' aria-label='map-search' data-map='home' data-catalog-path="<%=blacklight_path%>" data-map-bbox="<%=params[:bbox]%>" data-basemap="<%=geoblacklight_basemap%>">
            <div id="progress"><div id="progress-bar"></div></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
