<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader row', data: { layer_id: document.id, bbox: document.bounding_box_as_wsen } do %>
  <div class="document-wrapper">
    <% counter = document_counter_with_offset(document_counter) %>
    <span class="list-view document-counter">
      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
    </span>
    <div class='col-xs-11'>
      <div class='media'>
        <%- if document.sidecar.as_image.attached? %>
          <%- if document.sidecar.as_image.variable? %>
            <%= image_tag document.sidecar.as_image.variant(resize: "100x100"), {class: 'mr-3'} %>
          <%- else %>
            <%= image_tag document.sidecar.as_image, {class: 'mr-3'} %>
          <%- end %>
        <%- else %>
            <span class="icon square mr-3" title="<%=document[Settings.FIELDS.GEOM_TYPE]%>">
              <%= inline_svg("#{document[Settings.FIELDS.GEOM_TYPE].downcase.gsub(" ", "-")}.svg", {title: document[Settings.FIELDS.GEOM_TYPE]}) %>
            </span>
        <%- end %>
        <div class='media-body'>
          <p class='mt-0'><%= link_to_document document, counter: counter, title: document[blacklight_config.index.title_field] %>
          <%= render partial: 'header_icons', locals: { document: document } %>
          </p>
          <p><%= geoblacklight_present(:index_fields_display, document) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
