<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader row', data: { layer_id: document.id, bbox: document.bounding_box_as_wsen } do %>
  <div class="document-wrapper">
    <% counter = document_counter_with_offset(document_counter) %>
    <span class="list-view document-counter">
      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
    </span>
    <div class='col-xs-11'>
      <div class='media'>
        <div class='media-left'>
          <%- if document.sidecar.image_url %>
            <img class='media-object' src="<%=document.sidecar.image_url(:square)%>" alt="<%=document[blacklight_config.index.title_field]%>" title="<%=document[blacklight_config.index.title_field]%>"/>
          <%- else %>
            <span class="icon square" title="<%=document[Settings.FIELDS.GEOM_TYPE]%>">
              <%= inline_svg("#{document[Settings.FIELDS.GEOM_TYPE].downcase.gsub(" ", "-")}.svg", {title: document[Settings.FIELDS.GEOM_TYPE]}) %>
            </span>
          <%- end %>
        </div>
        <div class='media-body'>
          <h3 class='media-title'><%= link_to_document document, document_show_link_field(document), counter: counter, title: document[blacklight_config.index.title_field] %></h3>
          <p><%= geoblacklight_present(:index_fields_display, document) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
