<% # header bar for doc items in index view -%>
<% counter = document_counter_with_offset(document_counter) %>
<%= content_tag :div, class: 'documentHeader index-split row', data: { layer_id: document.id, geom: document.geometry.geojson, counter: counter } do %>
  <h3 class="index_title col">
    <% counter = document_counter_with_offset(document_counter) %>
    <span class="document-counter">
      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
    </span>
    <%= link_to_document document, counter: counter %>
  </h3>
  <div class="document-wrapper">
    <div class='col-xs-11'>
      <div class='media'>
        
        <table>
          <%- if document.sidecar.image.attached? %>
            <%- if document.sidecar.image.variable? %>
            <tr>
              <td>Active Storage</td>
            </tr>
            <tr>
              <td><%= image_tag document.sidecar.image.variant(resize_to_fit: [200, nil]), {class: 'mr-3', alt: document.to_semantic_values[:title]} %></td>
            </tr>
            <%- else %>
              <tr>
                <td><%= image_tag document.sidecar.image, {class: 'mr-3'} %></td>
              </tr>
            <%- end %>
          <%- else %>
            <tr>
              <td>
                <span class="icon square mr-3">
                  <%= geoblacklight_icon(document[Settings.FIELDS.RESOURCE_CLASS]&.first, classes: 'svg_tooltip') %>
                </span>
              </td>
            </tr>
          <%- end %>
        </table>
        <% if document&.model&.thumbnail %>
          <table>
            <tr>
              <td style="text-align: center;">AWS S3</td>
            </tr>
            <tr>
              <td><%= image_tag document.model.thumbnail.file_url(:thumb_standard_2X) %></td>
            </tr>
          </table>
        <% end %>

        <div class='media-body'>
          <p><%= geoblacklight_present(:index_fields_display, document) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
