<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader row', data: { layer_id: document.id, bbox: document.bounding_box_as_wsen } do %>
  <div class="document-wrapper">
    <h3 class="index_title col-sm-9s cosl-lg-10 text-span">
      <% counter = document_counter_with_offset(document_counter) %>
      <span class="document-counter">
        <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
      </span>
      <%= link_to_document document, document_show_link_field(document), counter: counter, title: document[blacklight_config.index.title_field] %>
    </h3>
    <div class='col-xs-12'>
      <div class='media'>
        <div class='media-left'>
          <%- if document.sidecar.image_url %>
            <img class='media-object' src="<%=document.sidecar.image_url(:square)%>"/>
          <%- else %>
            <span class="icon square" title="<%=document[Settings.FIELDS.GEOM_TYPE]%>">
              <%= inline_svg("#{document[Settings.FIELDS.GEOM_TYPE].downcase.gsub(" ", "-")}.svg", {title: document[Settings.FIELDS.GEOM_TYPE]}) %>
            </span>
          <%- end %>
        </div>
        <div class='media-body'>
          <small>
            <%= geoblacklight_present(:index_fields_display, document) %>
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>
