<div id="more-like-this" class="more-like-this container-fluid">

  <div class="pagination-controls mt-3 pull-right">
    <button class="btn btn-primary" id="prevPage" disabled>Previous</button>
    <button class="btn btn-primary" id="nextPage">Next</button>
  </div>     

  <h3 class="h4 mt-4 mb-3">
    View more items like this one...
  </h3>
  
  <div class="row">
    <% @document.more_like_this_panel.each_slice(5).with_index do |documents, page_index| %>
      <div class="col-12 <%= 'd-none' unless page_index == 0 %>" data-page="<%= page_index %>">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
          <% documents.each do |document| %>
            <div class="col mb-3">
              <div class="card h-100 equal-height-card">
                <div class="card-header">
                  <h5 class="card-title">
                    <%= link_to document[Settings.FIELDS.TITLE].truncate(90), solr_document_path(document[Settings.FIELDS.ID]) %>
                  </h5>
                </div>
                <div class="row no-gutters h-100">
                  <div class="col-4">
                    <div class="media">
                      <% if thumb_to_render?(document&.kithe_model) %>
                        <%= image_tag document&.kithe_model&.thumbnail&.file_url(:thumb_standard_2X) %>
                      <%- else %>
                        <span class="icon square mr-3">
                          <%= geoblacklight_icon(document[Settings.FIELDS.RESOURCE_CLASS]&.first, classes: 'svg_tooltip') %>
                        </span>
                      <%- end %>
                    </div>
                  </div>
                  <div class="col-8 d-flex flex-column">
                    <div class="card-body flex-grow-1 d-flex flex-column">
                      <p class="card-text small mb-1">
                        <% if document[Settings.FIELDS.PUBLISHER].present? %>
                          <%= document[Settings.FIELDS.PUBLISHER]&.join(', ') %>
                        <% else %>
                          <%= document[Settings.FIELDS.PROVIDER] %>
                        <% end %>
                      </p>
                      <p class="card-text">
                        <span class="badge badge-warning"><%= document[Settings.FIELDS.INDEX_YEAR]&.join(', ') %></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let currentPage = 0;
    const pages = document.querySelectorAll('[data-page]');
    const prevButton = document.getElementById('prevPage');
    const nextButton = document.getElementById('nextPage');

    function updatePagination() {
      pages.forEach((page, index) => {
        page.classList.toggle('d-none', index !== currentPage);
      });
      prevButton.disabled = currentPage === 0;
      nextButton.disabled = currentPage === pages.length - 1;
    }

    prevButton.addEventListener('click', function() {
      if (currentPage > 0) {
        currentPage--;
        updatePagination();
      }
    });

    nextButton.addEventListener('click', function() {
      if (currentPage < pages.length - 1) {
        currentPage++;
        updatePagination();
      }
    });

    updatePagination();
  });
</script>