<% document ||= @document %>

  <% return if document.viewer_protocol == 'map' %>

  <% if show_attribute_table? %>
    <div id='viewer-container' class="col-md-12">
  <% else %>
    <div id='viewer-container' class="col-md-12 spinner">
  <% end %>

  <% if Settings.B1G_HELP.send(document.viewer_protocol) %>
    <h6 class="viewer help-text"">
      <a data-toggle="popover" title="<%=Settings.B1G_HELP.send(document.viewer_protocol).popover_title %>" data-content="<%=Settings.B1G_HELP.send(document.viewer_protocol).popover_text %>" class="help-link" href="<%=Settings.B1G_HELP.send(document.viewer_protocol).link_href %>">
        <%=Settings.B1G_HELP.send(document.viewer_protocol).link_text %>
        <span class="icon baseline">
          <%= inline_svg("info-circle-solid.svg") %>
        </span>
      </a>
    </h6>
  <% end %>

  <% if document.viewer_protocol != "download" %>
    <%= content_tag :div, id: 'map', data: { map: 'item', protocol: document.viewer_protocol.camelize, url: document.viewer_endpoint, 'layer-id' => document.wxs_identifier, 'map-bbox' => document.bounding_box_as_wsen, 'catalog-path'=> search_catalog_path, available: document_available?, inspect: show_attribute_table?, basemap: geoblacklight_basemap, leaflet_options: leaflet_options } do %>
    <% end %>
  <% else %>
    <%= content_tag :div, id: 'map', class: "", data: { map: 'item', protocol: document.viewer_protocol.camelize, url: "#{remote_image_link(document.viewer_endpoint)}", 'layer-id' => document.wxs_identifier, 'map-bbox' => document.bounding_box_as_wsen, 'catalog-path'=> search_catalog_path, available: document_available?, inspect: show_attribute_table?, basemap: geoblacklight_basemap, leaflet_options: leaflet_options } do %>
    <% end %>
  <% end %>
</div>
