<%= render 'catalog/show_breadcrumb' %>

<h2 class="h1">
  <span itemprop="name"><%= document_presenter(document).heading %></span>
</h2>

<h3 class="h4">
  <i>
    <% if @document[Settings.FIELDS.PUBLISHER].present? %>
      <%= @document[Settings.FIELDS.PUBLISHER].join(', ') %>
    <% elsif @document[Settings.FIELDS.CREATOR].present? %>
      <%= @document[Settings.FIELDS.CREATOR]&.join(', ') %>
    <% end %>
    <% if @document[Settings.FIELDS.INDEX_YEAR].present? %>
      &middot;
      <%= @document[Settings.FIELDS.INDEX_YEAR].join(', ') %>
    <% end %>
  </i>
</h3>
