<% if current_search_session %>
  <div id="appliedParams" class="clearfix constraints-container">
    <%= link_to t('blacklight.search.start_over'), start_over_path, class: 'catalog_startOverLink btn btn-primary flex-fill me-1' %>
    <%= link_back_to_catalog class: 'btn btn-outline-secondary flex-fill me-1' %>
  </div>
<% end %>

<%= render(Blacklight::SearchContextComponent.new(search_context: @search_context, search_session: search_session)) if search_session['document_id'] == @document.id %>

<% if ['map', 'iiif', 'iiif_manifest', 'download', 'b1g_image'].any?{ |vp| @document.viewer_protocol == vp } %>
  <%= render :partial => 'show_static_map_bbox' %>
<% end %>

<%= render :partial => 'show_tools' %>

<div class="sidebar-buttons">
<%= render :partial => "show_web_services" %>
<%= render :partial => "show_downloads" %>
</div>

<% unless @document.more_like_this.empty? %>
  <div class="card">
    <div class="card-header">More Like This</div>
    <div class="card-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>
