%h3=@document[blacklight_config.index.title_field]

%table.table.table-borderless.table-sm
  %thead
    %tr
      %th Provenance
      %th Indexed

  %tbody
    %tr
      %td= @document._source['schema_provider_s']
      %td= DateTime.parse(@document._source['timestamp']).strftime('%D %r')
%hr

%h3 SolrDocument
%div.solr-document
  != ap @document.to_h

%br
%h3 Item Viewer
%table.table
  %thead
    %tr
      %th Protocol
      %th Endpoint
  %tbody
    %tr
      %td= @document.viewer_protocol
      %td= link_to(@document.viewer_endpoint, @document.viewer_endpoint)

%h3 Thumbnail
%table.table
  %thead
    %tr
      %th Display
      %th Attached
      %th State
      %th Last Transition
  %tbody
    %tr
      - if @document.sidecar.image.attached?
        %td
          %span ActionStorage
          %div.media
            %span.mr-3= image_tag @document.sidecar.image
      - else
        %td
          %div.media
            %span.icon.square.mr-3= geoblacklight_icon(@document[Settings.FIELDS.GEOM_TYPE], classes: 'svg_tooltip')

      %td= @document.sidecar.image.attached?
      %td= @document.sidecar.image_state.current_state
      %td
        - if @document.sidecar.image_state.last_transition
          = @document.sidecar.image_state.last_transition.metadata
    %tr
      - if @document&.kithe_model&.thumbnail&.present?
        %td
          %span AWS S3
          %div.media
            - if @document&.thumbnail&.file_derivatives[:thumb_standard_2X].exists?
              %span.mr-3= image_tag @document&.kithe_model&.thumbnail&.file_url(:thumb_standard_2X)

%h3 URIs
%table.table.responsive
  %thead
    %tr
      %th State
      %th Key
      %th Value

  %tbody
    - @document.uris.each do |uri|
      %tr
        %td= uri.state_machine.current_state
        %td= uri.uri_key
        %td
          = link_to(uri.uri_value, uri.uri_value)

%h3 Access Links
%table.table.responsive
  %thead
    %tr
      %th University
      %th Access Link
  %tbody
    - b1g_access_links(@document).each do |key,value|
      %tr
        %td=key
        %td
          %a{href:value}=value

:javascript
  new Readmore( '.solr-document', { maxHeight: 40 } );
