<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
  <li class="nav-item"><%=link_to('About', 'https://gin.btaa.org', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('Collection Stories', 'https://geobtaa.blogspot.com/', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('Help', 'https://gin.btaa.org/guides/', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('Feedback', '/feedback', {class: 'nav-link'})%></li>
</ul>
