<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
  <li class="nav-item"><%=link_to('About', 'https://btaagdp.org/about', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('News', 'https://btaagdp.org/news', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('Help', 'https://btaagdp.org/help', {class: 'nav-link'})%></li>
</ul>
