<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
  <li class="nav-item"><%=link_to('About', 'https://sites.google.com/umn.edu/btaa-gdp/about', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('News', 'https://geobtaa.blogspot.com/', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('Help', 'https://sites.google.com/umn.edu/btaa-gdp/help', {class: 'nav-link'})%></li>
</ul>
