<!DOCTYPE html>
<html>
  <head>
    <title>BTAA Geoportal &middot; Brand</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
      <%= vite_client_tag %>
      <%= vite_javascript_tag 'application' %>
  </head>

  <body class="container-fluid">
    <div class="row">
      <header class="col-md-12 mt-4">
        <h1>BTAA Geoportal &middot; Brand &amp; Style Guide</h1>
        <p>This is the Big Ten Academic Alliance Geoportal project's brand and style guide. It is a work in progress, based on the <a href="https://btaa.org/docs/default-source/news-pub/big-ten-academic-alliance-identity-guidelinesf473.pdf?sfvrsn=34db04b8_5">Big Ten Academic Alliance identity guidelines</a>.</p>
        <p>We use <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/">Bootstrap 4</a> for the UI components.</p>
      </header>

      <main class="col-md-9">
        <%= yield %>
      </main>

      <aside class="col-md-3 sticky-top" style="height: 100vh; overflow-y: auto;">
        <h2>Navigation</h2>
        <ul>
          <li><a href="#logos">Logos</a></li>
          <li><a href="#colors">Colors</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#components">Components</a>
            <ul>
              <li><a href="#alerts">Alerts</a></li>
              <li><a href="#buttons">Buttons</a></li>
              <li><a href="#forms">Forms</a></li>
              <li><a href="#links">Links</a></li>
              <li><a href="#lists">Lists</a></li>
              <li><a href="#maps">Maps</a></li>
              <li><a href="#pagination">Pagination</a></li>
              <li><a href="#tables">Tables</a></li>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
  </body>
</html>
